# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb

# Build artifacts
*.obj
*.o
*.pch
*.pdb
*.dll
*.exe
*.lib

# IDE/project files (can be regenerated)
*.sln
*.vcxproj*
*.xcodeproj
*.xcworkspace

# Optional: Build folder (only if you're sure)
Build/*

# Keep PakBlacklist files if using Build ignore
!Build/*/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Unreal built map data
*_BuiltData.uasset